body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0px;
    height: 100vh;
}

.header {
    background-color: rgb(62, 140, 230);
    color: white; line-height: 62px; font-size: 24px; padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.aside {
    background-color: #dcdddd;
    color: black; line-height: 50px; font-size: 24px; padding-left: 20px;
}